# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_MAINNET=https://eth-mainnet.alchemyapi.io/v2/<apiKey>
# generic node uri (if no specific found) :
ETH_NODE_URI=https://{{networkName}}.infura.io/v3/<apiKey>

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
MNEMONIC=<mnemonic>

HARDHAT_FORK=
HARDHAT_FORK_BLOCK=

REPORT_GAS=true
COINMARKETCAP_API_KEY=123e4567-e89b-12d3-a456-426614174000
FTMSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1